# Ignore environment files
mini_projects/ticket_system_pipeline/.env
protyping_Data_pipeline/.env
Guided_Capstone_Project_Equity_Market_Data_Analysis/step2/.env
Guided_Capstone_Project_Equity_Market_Data_Analysis/step3/.env
Guided_Capstone_Project_Equity_Market_Data_Analysis/step4/.env
Guided_Capstone_Project_Equity_Market_Data_Analysis/step5/.env
Testing/.env